pipeline/1_data_ingestion.json
{
	"name": "1_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LS_azuresql1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "getTable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@item().table_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getCol",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "incremental_col",
								"value": {
									"value": "@item.incremental_col",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getingestiondate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getCol",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ingestion_dt",
								"value": {
									"value": "@item.ingestion_dt",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getingestiondate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "qry",
								"value": {
									"value": "@concat('select * from'\n        ,variables('table_name')\n        ,' where '\n        ,variables('incremental_col')\n        ,'='\n        ,''''\n        , variables('ingestion_dt')\n        ,''''\n        )",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"table_name": {
				"type": "String"
			},
			"incremental_col": {
				"type": "String"
			},
			"ingestion_dt": {
				"type": "String"
			},
			"qry": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-06T14:02:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}